<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Document</title>
</head>
<body>
    <div class="body8">
    <div class="products">
        <div class="containeradd">
            <h1 style="color: gold;"> UPDATE </h1>
            <form action="/addproduct" method="post">
                     <div class="formadd">
                        <label for="category">Category</label>
                        <select name="category" id="category">
                            <option value="backpack">Backpack</option>
                            <option value="bags">Bags</option>
                            <option value="chair">Chair</option>
                            <option value="lights">Lights</option>
                            <option value="stoves">Stoves</option>
                            <option value="tent">Tent</option>
                        </select>
                 </div>
                <div class="formadd">
               <input type="text" name="name" placeholder="itemname" required>
                {{!-- <label>Car Name</label> --}}
            </div>
            <div class="formadd">
                <input type="text" name="Brand" placeholder="Brand" required >
                {{!-- <label>Brand</label> --}}
            </div>
            <div class="formadd">
                <input type="text" name="Price" placeholder="Price" required>
                {{!-- <label>Brand</label> --}} 
            </div>
        
         
            <div class="formadd">
                <input type="text" name="discription" placeholder="discription" >
                {{!-- <label>Brand</label> --}}
            </div>
            <div class="formadd">
                 <input type="file" id="img" name="img" accept="image/*">   
            </div>
            <div>
      <input type="submit" value="ADD" class="addbtn">
    </div>
            </form>
        </div>
    </div>
    </div>
</body>
</html>