<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worldtour Login Page </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="body2">
    {{!-- <nav>
        <a href="#"><img src="https://previews.123rf.com/images/tovovan/tovovan1702/tovovan170200098/72766567-around-the-world-tour-by-different-vehicle-travel-concept-vector-illustration-with-logo.jpg" alt="logo"></a>
    </nav> --}}
    <div class="form-wrapper">
        <h2>Sign In</h2>
        <form action="/adminlogin" method="post">
            <div class="form-control">
                <input type="text" name="email" required>
                <label>Email or phone number</label>
            </div>
            <div class="form-control">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <button type="submit">Sign In</button>
            <div class="form-help"> 
                <div class="remember-me">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                <a href="#">Need help?</a>
            </div>
        </form>
        <p>New to Worldtour? <a href="#">Sign up now</a></p>
        <small>
            This page is protected by Google reCAPTCHA to ensure you're not a bot. 
            <a href="#">Learn more.</a>
        </small>
    </div>
    </div>
</body>
</html>