<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/user/user.css' />
             <link rel='stylesheet' href='/stylesheets/admin/admin.css' />
             <link rel='stylesheet' href='/stylesheets/user/products.css' />
                   <link rel='stylesheet' href='/stylesheets/user/cart.css' />
                       <link rel='stylesheet' href='/stylesheets/admin/addproduct.css' />
                       <link rel='stylesheet' href='/stylesheets/admin/adminhome.css' />
                         <link rel='stylesheet' href='/stylesheets/admin/team.css' />      
  </head>
  <body>
    {{{body}}}
  </body>
</html>
