<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BAGS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
   <div class="btnss1"> 
       <a href="/">Go Back</a>
        </div>
  <body>
    <div class="container3">
        <div class="box">
      <div class="image">
        <img src="img1.jpeg">
        </div>
        <div class="name_job">David Chrish</div>
        <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi nemo.</p>
       <div class="btns"> 
       <a href="/users/cart"  class="button1  ">BUY</a>
       <a href="/users/cart" class="button2">ADD  TO CART</a>
        </div>
      </div> 
    </div>
      </body>
</html>